version: '2'
services:

  mysql:
    container_name: mysql
    image: debezium/example-mysql:1.3
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=debezium
      - MYSQL_USER=mysqluser
      - MYSQL_PASSWORD=mysqlpw

  debezium:
    container_name: debezium
    image: quay.io/redhatintegration/rhi-cdc-connect:2021-Q3
    command: [ "sh", "-c", "/opt/kafka/kafka_connect_run.sh" ]
    ports:
      - "8083:8083"
    environment:
      KAFKA_CONNECT_BOOTSTRAP_SERVERS: <your-boostrap-server>:<port>
      KAFKA_CONNECT_TLS: 'true'
      KAFKA_CONNECT_SASL_MECHANISM: plain
      KAFKA_CONNECT_SASL_USERNAME: <kafka-sa-client-id>
      KAFKA_CONNECT_SASL_PASSWORD_FILE: cpass
      KAFKA_CONNECT_CONFIGURATION: |
        group.id=debezium-cluster
        offset.storage.topic=debezium-cluster-offsets
        status.storage.topic=debezium-cluster-status
        config.storage.topic=debezium-cluster-configs
        value.converter=org.apache.kafka.connect.json.JsonConverter
        key.converter=org.apache.kafka.connect.json.JsonConverter
    volumes:
      - ./log4j.properties:/opt/kafka/custom-config/log4j.properties
      - ./cpass:/opt/kafka/connect-password/cpass
